.btn.full
{
	display: block;
	width: 100%;
}

.btn.btn-danger
{
	color: #fff;
	background: #e85600;
	border-color: #d95000;
}

.btn.btn-danger:hover, .btn.btn-danger:focus
{
	background: #cf4d00;
	border-color: #bf4700;
}

.btn.btn-danger:active
{
	background: #c44900;
	border-color: #b54300;
}

tr .center
{
	vertical-align: middle;
}